@charset "UTF-8";

/* Paleta de Cores
    Verde: #49a09d
    Bege: #F5F5DC
*/


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5F5DC;
    }

main {
    width: 90vw;
    margin: 0 auto;
    }

#formulario {
    border: 1px solid black;
    padding: 20px;
}
#Login > #formulario > h1 {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 1.2em;
}

#formulario > p {
    padding: 10px;
    color: white;
}

#formulario > form{
    padding: 0 10px;
    color: white;
}

#formulario > form > p > input {
    margin: 2px;
    padding: 2px;
    border: none;
    border-radius: 5px;
}

#imagem {
    height: 200px;
    background-image: url("../imagens/pexels-iban-lopez-luna-2159602676-37703569.jpg");
    background-size: cover;
    background-position: center;
}
fieldset {
    border: 1px solid black;
    padding: 30px;
}




section#Login {     
        padding: 20px;
        background-color: #116611;
        margin: 0 auto;
    }


