@charset "UTF-8";

/* Paleta de Cores
    Verde: #49a09d
    Bege: #F5F5DC
*/


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);

    background-color: #FAFAFA;
    width: 250px;
    height: 515px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 450);
    transition: width 1s, height 1s;
    transition-timing-function: ease 0.8s;

}

section#login > div#imagem {
    background: url("../imagens/pexels-iban-lopez-luna-2159602676-37703569.jpg") no-repeat center;
    display: block;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 20px;
}

div#formulario > h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color:#177194;
    border: 2px solid #177194;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: -3px;
}

div.campo > input {
    background-color:#faf9f9;
    font-size: 1em;
    width: calc(100% - 44px); /* para ocupar o restante do espaço disponível, subtraindo a largura do ícone. Também, para se igualar ao container de login e senha */
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
     transform: translateY(-35.9px) translateX(43px); /* para alinhar verticalmente e horizontalmente o campo de input com o ícone, já que o ícone tem um tamanho maior do que o campo de input. (Todas as transições devem estar na última linha do seletor)*/
}

/* Configuração do botão de Entrar */
form > input[type="submit"] {
    display: block;
    font-size: 1.2em;
    width: 100%; /* para ocupar toda a largura do container (formulário)*/
    height: 40px;
    background-color: #177194;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type="submit"]:hover {
    background-color: #358aac
}

/* Configuração do botão de esqueci minha senha */
form > a.botao-esqueci {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid #177194;
    color: #177194;
    padding-top: 5px;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
}

form > a.botao-esqueci:hover {
    background-color: #94c7db;
    color: #fff;
}


form > a.botao-esqueci > span{
    font-size: 1em; /* reduz o tamanho do ícone de reset para se adequar ao texto */
}